body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}

.book {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 5px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

}
.book:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.book img {
    min-width: 200px;
    max-width: 200px;
    max-height: 250px;
    min-height: 250px;
    height: auto;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: contain;
}

.book-content {
    padding: 20px;
}

h2 {
    margin-top: 0;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}