.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 20px;
}
#nav-elmnt{
    margin: 0 20px;
}
.nav-bar li {
    float: left;
}

.nav-bar li a {
display: block;
color: white;
text-align: center;
padding: 14px 10px;
text-decoration: none;
}
.nav-bar li a:hover {
    background-color: #111;
}

.hero {
    text-align: center;
    background-color: aliceblue;
    padding: 50px;
    border-radius: 20px;
}

.hero h1 {
    font-size: 48px;
    color: #333;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: black;
}

 .dropdown:hover .dropdown-content {
    display: block;
}
.content{
    margin: 20px 20px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
}
.content h1{
    font-size: 30px;
    color: #333;
    text-align: center;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}
.container .box-container .box{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    padding: 30px 20px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.container .box-container .box img{
    height: 150px;
    border-radius: 10px;
}
.container .box-container .box h3{
    font-size: 20px;
    color: #333;
    margin: 10px 0 0;
    padding: 0;
}
.container .box-container .box .btn{
    margin-top: 10px;
    padding: 8px 25px;
    background: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

}
.container .box-container .box .btn:hover{
    letter-spacing: 0.5px;
}
.container .box-container .box:hover{
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
    transform: scale(1.02);
    
}
.hrzt-scroll{
    max-height: 220px;
    border: 1px solid white;
    display: flex;
    overflow-x: hidden;
}
.hrzt-scroll:hover{
    overflow-x: auto;
}
.hrzt-scroll .hzrt-item{
    min-width: 220px;
    min-height: 150px;
    text-align: center;
    margin-right: 4px;
    background-color: #ddd;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hrzt-scroll .hzrt-item img{
    margin-top: 2px;
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;

}
.hrzt-scroll .hzrt-item h3{
    font-size: 12px;
    margin-top:0 ;
    padding-top: 0;
}
.horizontal-scroll h1{
    font-size: 30px;
    color: #333;
    text-align: center;
}
.horizontal-scroll{
    margin: 20px 20px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
}